{% extends 'base.html' %}

{% block content %}
    {% load cart %}
    {% load custom_filter %}
    <div class="container">
        <div class="border rounded p-4 m-4">
            <p class="display-4 pl-4 ml-4 btn btn-success rounded-pill">Varukorg</p>
            <hr>
            <table class="table">
                <thead>
                <tr>
                    <th>Serienummer</th>
                    <th>Bild</th>
                    <th>Produkt</th>
                    <th>Pris</th>
                    <th>Antal</th>
                    <th>Total</th>
                </tr>
                </thead>
                <tbody>

                {% for product in products %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td><img style="height: 80px;" class="rounded-circle" src="{{ product.image.url }}" alt=""></td>
                        <td>{{ product.name }}</td>
                        <td>{{ product.price|currency }}</td>
                        <td>{{ product|cart_quantity:request.session.cart }}</td>
                        <td>{{ product|price_total:request.session.cart|currency }}</td>
                    </tr>

                {% endfor %}

                </tbody>

                <tfoot>
                <tr>
                    <th colspan="4"></th>
                    <th class="" colspan="">Total</th>
                    <th>{{ products|total_cart_price:request.session.cart|currency }}</th>
                </tr>
                </tfoot>
            </table>
            <hr>
            <div class="m-3 p-3">
                <a href="#" data-toggle="modal" data-target="#exampleModal"
                   class="btn btn-outline-success border rounded  col-lg-3 float-right">Gå till kassan</a>
            </div>
        </div>
    </div>

    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">
                        Betalningsformulär
                    </h5>
                    <hr>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="m-2 p-3">
                        <form action="/check-out/" method="POST">
                            {% csrf_token %}

                            <!-- Contact information -->
                            <h3>Kontaktinformation</h3>
                            <div class="form-group">
                                <label for="">Förnamn</label>
                                <input type="text" name="firstname" id="" class="form-control" placeholder=""
                                       aria-describedby="helpId">
                            </div>

                            <div class="form-group">
                                <label for="">Efternamn</label>
                                <input type="text" name="lastname" id="" class="form-control" placeholder=""
                                       aria-describedby="helpId">
                            </div>
                            <div class="form-group">
                                <label for="">Telefonummer</label>
                                <input type="text" name="phone" id="" class="form-control" placeholder=""
                                       aria-describedby="helpId">
                            </div>
                            <!-- Delivery address -->
                            <h3>Leveransadress</h3>
                            <div class="form-group">
                                <label for="">Gatuadress</label>
                                <input type="text" name="address" id="" class="form-control" placeholder=""
                                       aria-describedby="helpId">
                            </div>

                            <div class="form-group">

                                <label for="zipcode">Postnummer</label>
                                <input type="text" name="zipcode" id="" class="form-control" placeholder=""
                                       aria-describedby="helpId">
                            </div>
                            <div class="form-group">
                                <label for="country">Land</label>
                                <select id="country" name="country" required class="form-control">
                                    <option value="SE">🇸🇪SE</option>
                                    <option value="FI">🇫🇮FI</option>
                                    <option value="NO">🇳🇴NO</option>
                                    <option value="DE">🇩🇪DE</option>
                                    <option value="AU">🇦🇺AU</option>
                                    <!-- More alternatives here -->
                                </select>
                            </div>

                            <!-- Payment method -->
                            <h3>Betalningsmetod</h3>
                            <div class="form-group">
                                <label for="card_number">Kortnummer</label>
                                <input type="text" id="card_number" name="card_number" class="form-control"
                                       placeholder=""
                                       aria-describedby="helpId" required>
                            </div>

                            <div class="form-group">
                                <label for="expiration_date">Utgångsdatum (MM/ÅÅ)</label>
                                <input type="text" id="expiration_date" name="expiration_date" class="form-control"
                                       placeholder=""
                                       aria-describedby="helpId" required>
                            </div>
                            <div class="form-group">
                                <label for="cvv">CVV</label>
                                <input type="text" id="cvv" name="cvv" class="form-control" placeholder=""
                                       aria-describedby="helpId" required>
                            </div>
                            <input type="submit" class="btn float-right btn-outline-success col-lg-6" value="Betala">
                        </form>
                    </div>
                </div>

            </div>
        </div>
    </div>
{% endblock %}
